.redeem {
  background: #33a0ff;
  color: #fff;
  padding: 0.6rem 10px;
}

.voucher input {
  border: #f1f3f4 !important;
  opacity: 1;
}

.cartqty {
  background: #f6f7f8 !important;
  padding: 2px 10px !important;
}

.addsub {
  color: #33a0ff !important;
  font-weight: 600 !important;
  cursor: pointer !important;
}

.cart_img {
  width: 120px !important;
  height: 150px !important;
}

.empty-cart {
  height: 50vh;
}

@media screen and (max-width: 760px) {
  .header {
    display: none !important;
  }

  .store_nav {
    display: none !important;
  }

  .product_nav {
    display: none !important;
  }

  hr {
    display: none !important;
  }

  .voucher {
    display: flex !important;
    justify-content: center !important;
  }

  .payment_section {
    flex-direction: column !important;
  }

  .payment_values {
    padding: 0 19px !important;
  }

  .responsive_1 {
    padding: 0 !important;
    margin-top: 15px !important;
  }

  .responsive_hr {
    display: block !important;
  }

  .mobile_33 {
    flex-direction: column !important;
  }

  .mobile_35 {
    margin: 0 !important;
  }

  .reponsive_cartcard_title {
    margin: 25px 0px !important;
  }

  .mobile_35 h4 {
    margin: 0px 25px;
  }

  .cartcard {
    flex-direction: column !important;
  }
}
